<section class="customers-page section">
  <div class="customers-container container">
    <h2 class="customers-title">What our Customers Say</h2>
    <p class="customers-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers-list list">
      <li class="customers-item">
        <svg class="customers-icon">
          <use href="./images/icon.svg#star"></use>
        </svg>
        <svg class="customers-icon">
          <use href="./images/icon.svg#star"></use>
        </svg>
        <svg class="customers-icon">
          <use href="./images/icon.svg#star"></use>
        </svg>
        <svg class="customers-icon">
          <use href="./images/icon.svg#star"></use>
        </svg>
        <svg class="customers-icon">
          <use href="./images/icon.svg#star"></use>
        </svg>
        <p class="customers-icon-text">
          &#8220;The Best app I have used to order food in a while, so many
          options to choose from too, I would recommend to a freind, No
          questions asked&#8221;
        </p>
        <div class="customers-avata">
          <img
            src="./images/avatar-1.jpg"
            alt="first avatar"
            class="customers-avata-img"
          />
          <div>
            <h3 class="customers-avatar-title">Sumith Shah</h3>
            <p class="customers-avatar-text">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customers-item">
        <svg class="customers-icon">
          <use href="./images/icon.svg#star"></use>
        </svg>
        <svg class="customers-icon">
          <use href="./images/icon.svg#star"></use>
        </svg>
        <svg class="customers-icon">
          <use href="./images/icon.svg#star"></use>
        </svg>
        <svg class="customers-icon">
          <use href="./images/icon.svg#star"></use>
        </svg>
        <svg class="customers-icon">
          <use href="./images/icon.svg#star"></use>
        </svg>
        <p class="customers-icon-text">
          &#8220;The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app&#8221;
        </p>
        <div class="customers-avata">
          <img
            src="./images/avatar-2.jpg"
            alt="first avatar"
            class="customers-avata-img"
          />
          <div>
            <h3 class="customers-avatar-title">Sumith Shah</h3>
            <p class="customers-avatar-text">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
