<section class="favorite-food">
  <div class="page-favorite container">
    <div class="favorite-container">
      <h1 class="favorite-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="favorite-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button type="button" class="favorite-button" data-modal-open>
        Order Now
      </button>
    </div>
    <div class="favorite-circle">
      <picture>
        <source
          srcset="./images/hero-desk.jpg 1x, ./images/hero-desk-@2x.jpg 2x"
          media="(min-width: 1280px)" />
        <source
          srcset="./images/hero-tablet.jpg 1x, ./images/hero-tablet-@2x.jpg 2x"
          media="(min-width: 768px)" />

        <img
          src="./images/hero-desk.jpg"
          alt="plate with food"
          class="favorite-img"
      /></picture>
    </div>
  </div>
</section>
