<header class="header-padding">
  <div class="header-page container">
    <a href="" class="header-icon-link"
      ><svg class="header-logo-icon">
        <use href="./images/icon.svg#logo"></use></svg
    ></a>
    <button type="button" class="hamburger-menu js-open-menu">
      <svg class="hamburger-svg">
        <use href="../images/icon.svg#gg_menu"></use>
      </svg>
    </button>
    <div class="header-container js-menu-container">
      <button type="button" class="hamburger-menu-close js-close-menu">
        <svg class="hamburger-svg-close">
          <use href="./images/icon.svg#cross"></use>
        </svg>
      </button>
      <nav class="nav-menu">
        <ul class="header-list list">
          <li class="header-item">
            <a href="" class="header-link link header-link-active">Home</a>
          </li>
          <li class="header-item">
            <a href="" class="header-link link">About</a>
          </li>
          <li class="header-item">
            <a href="" class="header-link link">Service</a>
          </li>
          <li class="header-item">
            <a href="" class="header-link link">Menu</a>
          </li>
          <li class="header-item">
            <a href="" class="header-link link">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="header-button">Order Now</button>
    </div>
  </div>
</header>
