<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <h2 class="modal-title">Order Form</h2>
    <form>
      <ul class="modal-list list">
        <li class="modal-item">
          <lable
            ><span class="modal-input-title">Name</span
            ><input
              type="text"
              name="user-name"
              placeholder="Your name"
              required
              class="modal-form-input"
          /></lable>
        </li>
        <li class="modal-item">
          <lable
            ><span class="modal-input-title">Phone number</span
            ><input
              type="tel"
              name="phone"
              placeholder="+38(0_ _) _ _ _   _ _   _ _"
              required
              class="modal-form-input"
          /></lable>
        </li>
        <li class="modal-item">
          <lable
            ><span class="modal-input-title">Phone number</span
            ><input
              type="email"
              name="email"
              placeholder="example@gmail.com"
              required
              class="modal-form-input"
          /></lable>
        </li>
      </ul>
      <button type="submit" class="modal-button">Send</button>
    </form>
    <button type="button" class="modal-close" data-modal-close>
      <svg class="modal-close-icon">
        <use href="./images/icon.svg#cross"></use>
      </svg>
    </button>
  </div>
</div>
