<section class="section">
  <div class="plate-container container">
    <h2 class="plate-title">Some of Our Favorites</h2>
    <p class="plate-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="plate-list list">
      <li class="plate-item">
        <a href="" class="plate-link link">
          <picture>
            <source
              srcset="
                ./images/mobile-gamburger.jpg     1x,
                ./images/mobile-gamburger-@2x.jpg 2x
              "
              media="(max-width: 767.97px)"
            />
            <source
              srcset="
                ./images/tablet-gamburger.jpg     1x,
                ./images/tablet-gamburger-@2x.jpg 2x
              "
              media="(max-width: 1279.97px)"
            />
            <source
              srcset="
                ./images/desk-gamburger.jpg     1x,
                ./images/desk-gamburger-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/desk-gamburger.jpg"
              alt="Hamburger"
              class="plate-item-img"
            />
          </picture>
        </a>
      </li>
      <li class="plate-item">
        <a href="" class="plate-link link">
          <picture>
            <source
              srcset="
                ./images/mobile-pasta.jpg     1x,
                ./images/mobile-pasta-@2x.jpg 2x
              "
              media="(max-width: 767.97px)"
            />
            <source
              srcset="
                ./images/tablet-pasta.jpg     1x,
                ./images/tablet-pasta-@2x.jpg 2x
              "
              media="(max-width: 1279.97px)"
            />
            <source
              srcset="
                ./images/desk-pasta.jpg     1x,
                ./images/desk-pasta-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/desk-pasta.jpg"
              alt="Pasta"
              class="plate-item-img"
            />
          </picture>
        </a>
      </li>
      <li class="plate-item">
        <a href="" class="plate-link link">
          <picture>
            <source
              srcset="
                ./images/mobile-pizza.jpg     1x,
                ./images/mobile-pizza-@2x.jpg 2x
              "
              media="(max-width: 767.97px)"
            />
            <source
              srcset="
                ./images/tablet-pizza.jpg     1x,
                ./images/tablet-pizza-@2x.jpg 2x
              "
              media="(max-width: 1279.97px)"
            />
            <source
              srcset="
                ./images/desk-pizza.jpg     1x,
                ./images/desk-pizza-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/desk-pizza.jpg"
              alt="Pizza"
              class="plate-item-img"
            />
          </picture>
        </a>
      </li>
      <li class="plate-item">
        <a href="" class="plate-link link"
          ><picture>
            <source
              srcset="
                ./images/tablet-chicken.jpg     1x,
                ./images/tablet-chicken-@2x.jpg 2x
              "
              media="(max-width: 1279.97px)"
            />
            <source
              srcset="
                ./images/desk-chicken.jpg     1x,
                ./images/desk-chicken-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/desk-chicken.jpg"
              alt="Chicken"
              class="plate-item-img"
            /> </picture
        ></a>
      </li>
      <li class="plate-item">
        <a href="" class="plate-link link"
          ><picture>
            <source
              srcset="
                ./images/tablet-salat.jpg     1x,
                ./images/tablet-salat-@2x.jpg 2x
              "
              media="(max-width: 1279.97px)"
            />
            <source
              srcset="
                ./images/desk-salat.jpg     1x,
                ./images/desk-salat-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/desk-salat.jpg"
              alt="Salat"
              class="plate-item-img"
            /> </picture
        ></a>
      </li>
      <li class="plate-item">
        <a href="" class="plate-link link"
          ><picture>
            <source
              srcset="
                ./images/tablet-borshch.jpg     1x,
                ./images/tablet-borshch-@2x.jpg 2x
              "
              media="(max-width: 1279.97px)"
            />
            <source
              srcset="
                ./images/desk-borshch.jpg     1x,
                ./images/desk-borshch-@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/desk-borshch.jpg"
              alt="Borshch"
              class="plate-item-img"
            /> </picture
        ></a>
      </li>
    </ul>
  </div>
</section>
